.vesselMap {
  .form-select {
    box-shadow: none;
    height: 45px;
    border-radius: 4px;
  }
  .col-lg-7 {
    box-shadow: 0 10px 7px #f3f1f1;
    .content {
      width: 100%;
      height: 300px;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
    }
  }
}
