<section class="vesselMap">
  <div class="container-fluid py-3">
    <div class="col-lg-3 col-md-4 mb-3">
      <h6 class="text-uppercase fw-bold">Route Selection</h6>
      <select class="form-select" #elem (change)="vesselPath(elem.value)">
        <option [value]="''">Select Route</option>
        @for (obj of vesselInfo | keyvalue; track obj; let i=$index) {
        <option [value]="i + 1">
          Route:{{
            i +
              1 +
              " - " +
              vesselInfo[i + 1].from_port +
              " to " +
              vesselInfo[i + 1].to_port +
              " in " +
              (vesselInfo[i + 1].leg_duration | number : "1.2-2") +
              " Hrs"
          }}
        </option>
        }
      </select>
    </div>

    <div class="row">
      <div class="col-lg-5">
        <google-map
          [zoom]="4"
          height="300px"
          width="100%"
          [options]="mapOptions"
        >
          <ng-container *ngIf="polylineCoordinates.length">
            <map-marker
              [options]="markerOptions"
              [position]="polylineCoordinates[0]"
            />
            <map-marker
              [position]="polylineCoordinates[polylineCoordinates.length - 1]"
            />
          </ng-container>

          <map-polyline
            [options]="polylineOptions"
            [path]="polylineCoordinates"
          />
        </google-map>
      </div>
      <div class="col-lg-7">
        <div class="content">
          <ngx-charts-line-chart
            [legend]="true"
            [showXAxisLabel]="true"
            [showYAxisLabel]="true"
            [animations]="true"
            [xAxis]="true"
            [yAxis]="true"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [results]="graphData"
            [legendPosition]="below"
          >
          </ngx-charts-line-chart>
        </div>
      </div>
    </div>
  </div>
</section>
